.cart {
  width: 80vh;
  height:auto;
  border:5px solid black;
  background-color:#b1f089;
  border-radius: 20px;
}

.cart p {
  text-align: center;
  font-size: 1.5rem;
}

.cart ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart li {
  padding: 0rem 1rem 1rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:2rem;
  margin-bottom:1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  border:5px solid black;
  border-radius: 20px;
  background-color: #f1f1f1;
  font-size: 1.2rem;
}
.container{
  width:100%;
  background-color: #f1f1f1;
  margin: 0px 0px 0px 0px;
  padding-top:4rem;
  padding-bottom:4rem;
  display: flex;
	justify-content: center;
}
.cart h1 {
  text-align: center;
  width: 25vh;
  border:5px solid black;
  border-radius: 20px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: table;
  margin: 1.5rem auto;
  background-color: #f1f1f1;

}
.cart h3 {
  text-align: center;
  border:5px solid black;
  border-radius: 20px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 1.5rem auto;
  background-color: #f1f1f1;
  margin-right: 2rem;
  margin-left: 2rem;

}
.cart button{
  height: 3rem;
  width: 3rem;
  border:3px solid black;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.795);
  margin:0.5rem 0.5rem 0.5rem 0.5rem;

}
#rem:hover{
  background-color:rgba(255, 0, 0, 0.801);
}
#add:hover{
  background-color:green;
}
.buttons {
  margin-left: auto;
}
.itenInfo {
  margin: 1rem 0.5rem 0rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  font-size: 1.2rem;
}
.total{
  margin: 0.5rem 0rem 0rem 0.5rem;;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  font-size: 1.2rem;
}